@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap');

*:focus{
outline: 2px solid lightseagreen;
}
body{
    background-color:lightsteelblue;
    overflow: auto;
    font-family: kanit;
}
.container{
    max-width: 400px;
    margin: 100px 35px;
    padding: 20px;
    background-color:rgba(0, 58, 116, 0.39);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.logo{
    z-index: -1;
    position: absolute;
    margin-top: -290px;
    margin-left: -70px;
    color:rgba(245, 245, 245, 0.568);
    font-size: 1700%;
    top: 200px;
    left: 110px;
}
input{
    border-radius: 10px;
}
input[type="text"], input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
    input[type="text"]:focus, input[type="date"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#fname:hover{
    animation: slide 1s forwards 1.5s;
    border: 2px solid turquoise;
    
}
@keyframes slide {
    50%{
        transform: scale(1.4);
    }
    100%{
    transform: scale(1);
}
}

#sex:hover{
    animation: slid 1s forwards 1.5s;
    border: 2px solid turquoise;
    
}
@keyframes slid {
    50%{
        transform: scale(1.4);
    }
    100%{
    transform: scale(1);
}
}

#currDate:hover{
    animation: s 1s forwards 1.5s;
    border: 2px solid turquoise;
    
}
@keyframes s {
    50%{
        transform: scale(1.4);
    }
    100%{
    transform: scale(1);
}
}

#byr:hover{
    animation: sli 1s forwards 1.5s;
    border: 2px solid turquoise;
    
}
@keyframes sli {
    50%{
        transform: scale(1.4);
    }
    100%{
    transform: scale(1);
}
}

.btn{
    cursor: pointer;
    z-index: 99999; 
    border: 2px solid;
    border-radius: 5px;
}
.btn:hover{
    scale: 1.2;
    border: 2px solid lightseagreen;
}

#answer{
    font-family: monospace;
    font-size: 50px;
    left: 50%;
    top: 20%;
    max-width: 50%;
    overflow-wrap: break-word;
    position: relative;
    white-space: pre-wrap;
}
.ann {
    margin-top:  -500px;
    margin-left: 50px;
    width: 90%; 
    height: auto; 
    overflow-y: auto; 
}
#answer::after {
    content: "";
    border-right: 2px solid black;
    animation: blink 0.5s infinite;
}
    @keyframes blink {
    0% {
    border-right-color: black;
    }
    50% {
    border-right-color: transparent;
    }
    100% {
    border-right-color: black;
    }
}

@media (max-width: 768px) {
    .ann{
        width: 200%;
        margin: -30px -100%;
    }
    .logo{
        display: none;
    }
    .container {
        margin: 20px;
        padding: 10px;
    }
    input[type="text"], input[type="date"] {
        margin-bottom: 10px;
    }
}
@media (max-width: 480px) {
    .container {
        margin: 10px;
        padding: 5px;
    }
    input[type="text"], input[type="date"] {
        margin-bottom: 5px;
    }
}